body{
    background-image: url('../img/laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    margin: auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#MAIN{
    width: 1000px;
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
    display: block;
    height: 1000px;
}
#header{
    background-color: #a7c0c8;
    height: 150px;
}
#header .header1{
    margin-left: 35%;
}
#header .h0{
    font-size: 45px;
    letter-spacing: 4px;
    padding-top: 40px;
    margin-top: 50px;
}
#header .h1{
    letter-spacing: 4px;
    font-size: 15px;
    margin-top: -30px;
}
#main{
    height:850px;
    background-color: whitesmoke;
    width: 100%;
}
#main .profile{
    font-size: 25px;
}
#main .main1{
    width: auto;
    margin-right: 20px;
    text-align: justify;
    padding-top: 20px;
    border-bottom: 2px solid black;
    margin-left: 35%;
    padding-bottom: 15px;
}
#main .PR{
    font-size: 25px;
}
#main .main2{
    width: auto;
    margin-right: 20px;
    text-align: justify;
    padding-top: 20px;
    margin-left: 35%;
    padding-bottom: 15px;
}

#main ul{
    margin-top: -15px;
}
#left{
    width: 300px;
    height: 980px;
    margin-top: -98%;
    background-color: #dfe5e9;
    margin-left: 3%;
}
#left .left-1{
    width: 150px;
    height: 130px;
    margin: auto;
    float: none;
}
#left img{
    width: 150px;
    height: 150px;
    float: none;
    border-radius: 100%;
    margin-top: 20px;
}
#left .left-2{
    max-height: 250px;
    max-width: 300px;
    text-align: left;
    margin-left: 35px;
    border-bottom: 2px solid black;
    margin-right: 35px;
    padding-bottom: 25px;
}
.contact{
    font-size: 25px;
    margin-top: 80px;
    font-weight: 600;
    margin-left: 35px;
}
#left .icon1{
    margin-top: -5px;
    margin-left: -10px;
}
#left .telephone{
    font-size: 25px;
}
#left .maill{
    width: 25px;
    margin-left: -5px;
    margin-top: -8px;
}
#left .icon2 span{
    padding-left: 8px;
    font-size: 16px;
}
#left .home{
    width: 28px;
    margin-left: -8px;
    margin-top: -5px;
}
#left .icon3 span{
    padding-left: 5px;
}
#left .tv{
    width: 25px;
    margin-left: -5px;
    margin-top: -5px;
}
#left .icon4 span{
    padding-left: 5px;
}

#left .left-3{
    max-height: 250px;
    max-width: 300px;
    text-align: left;
    margin-left: 35px;
    border-bottom: 2px solid black;
    margin-right: 35px;
    padding-bottom: 25px;
}
#left .education1{
    font-size: 25px;
    font-weight: 600;
}
#left .left-4{
    max-height: 300px;
    text-align: left;
    margin-left: 35px;
}
#left .expertise{
    font-size:25px;
    font-weight: 600;
}
