*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
.labs14{
    width: 1170px;
    height: 1250px;
    margin: auto;
    background-color: #EFEFEF;
}

.grid-title{
    width: 1170px;
    height: 10%;
    font-size: 40px;
    color: #5AB6D8;
    background-color: #707070;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

.item1{
    padding: 45px;
    height: 90%;
}
.col-md-4{
    padding: 0;
}
img{
    max-width: 100%;
}
.item-main{
    float: left;
    width: 360px;
    padding:15px;
    text-align: center;
}
.item-main h3{
    font-size: 20px;
    text-align: center;
    height: 50px;
    color: #7A7A7A;
    font-weight: 600;
    margin-bottom: 25px;
}
.item-main p{
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #A9DAEC;
}
