body{
    background-image: url('../img/laptop.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
}
#full{
    width: 1000px;
    margin: auto ;
    max-height: 1100px;
}
#header{
    background-color: #a7c0c8;
    max-height: 15%;
    text-align: center;
    padding-top: 60px;
    padding-left: 160px;
    padding-bottom: 50px;
}
#header span{
    font-size: 45px;
    letter-spacing: 4px;
}
#header p{
    letter-spacing: 4px;
    font-size: 15px;
}
#main{
    height: 900px;
    background-color: whitesmoke;
}
#main .profile{
    font-size: 25px;
}
#main .main1{
    max-width: 580px;
    margin-right: 20px;
    text-align: justify;
    padding-top: 20px;
    border-bottom: 2px solid black;
    margin-left: 380px;
    padding-bottom: 15px;
}
#main .main2{
    max-width: 580px;
    margin-right: 20px;
    text-align: justify;
    padding-top: 20px;
    margin-left: 380px;
    padding-bottom: 15px;
}
#main .PR{
    font-size: 25px;
}
#main ul{
    margin-top: -15px;
}
#left{
    float: none;
    width: 300px;
    height: 1060px;
    margin-top: -1080px;
    background-color: #dfe5e9;
    margin-left: 50px;
    padding-bottom: 20px;;
}
#left .left-1{
    width: 150px;
    height: 130px;
    margin: auto;
    float: none;
}
#left img{
    width: 150px;
    height: 150px;
    float: none;
    border-radius: 100%;
    margin-top: 20px;
}
#left .left-2{
    max-height: 250px;
    max-width: 300px;
    text-align: left;
    margin-left: 35px;
    border-bottom: 2px solid black;
    margin-right: 35px;
    padding-bottom: 25px;
}
#left .contact{
    font-size: 30px;
    margin-top: 60px;
    font-weight: 600;
}
#left .icon1{
    margin-top: -5px;
    margin-left: -10px;
}
#left .telephone{
    font-size: 30px;
}
#left .icon2 span{
    padding-left: 8px;
    font-size: 18px;
}
#left .maill{
    width: 28px;
    margin-left: -5px;
}
#left .home{
    width: 32px;
    margin-left: -8px;
}
#left .icon3 span{
    padding-left: 5px;
}
#left .tv{
    width: 30px;
    margin-left: -5px;
}
#left .icon4 span{
    padding-left: 5px;
}

#left .left-3{
    max-height: 250px;
    text-align: left;
    margin-left: 35px;
    border-bottom: 2px solid black;
    margin-right: 35px;
    padding-bottom: 25px;
}
#left .education1{
    font-size: 30px;
    font-weight: 600;
}
#left .left-4{
    max-height: 300px;
    text-align: left;
    margin-left: 35px;
}
#left .expertise{
    font-size:30px;
}
