body{
    width: 1000px;
    margin: auto;
    height: 800px;
}
.banner{
    height: 10%;
    background-color: #337ab7;
    text-align: center;
}
.main{
    height: 75%;
    background-color: #777777;
}
.main #header{
    height: 5%;
    background-color: #cc6699;
    padding-top: 7px;
}
.main #header #header1{
    width: 700px;
    background-color: #F1F1F1;
    text-align: center;
    height: 100%;
}
.main #header #header2{
    width: 300px;
    background-color: bisque;
    float: right;
    height: 100%;
    text-align: center;
    margin-top: -30px;
}
.footer{
    height: 10%;
    background-color: aqua;
}
